button {
  width: 200px;
  height: 50px;
  font-size: 25px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

thead > tr > th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
